@import url(./__profile/main__profile.css);

.main {
  margin: 0 auto;
  max-width: 882px;
  padding: 0 19px;
  padding-top: 40px;
  padding-bottom: 66px;
  transition: all ease .5s;
  position: relative;
}

@media screen and (max-width: 619px){
  .main{
    padding-top: 42px;
    padding-bottom: 48px;
  }
}