@import url(./__body/profile__body.css);
@import url(./__content/profile__content.css);
@import url(./__avatar-button/profile__avatar-button.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__content-head/profile__content-head.css);
@import url(./__title/profile__title.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__add-button/profile__add-button.css);


.profile {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 919px){
  .profile{
    flex-direction: column;
  }
}

@media screen and (max-width: 619px){
  .profile{
    justify-content: flex-start;
  }
}