.profile__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 316px;
}

@media screen and (max-width: 619px){
  .profile__subtitle{
    font-size: 14px;
    line-height: 1.22;
    text-align: center;
  }
}