.profile__title {
  margin: 0;
  padding: 0;
  max-width: 295px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  margin-right: 17px;
  position: relative;
  top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
}

@media screen and (max-width: 619px){
  .profile__title{
    max-width: 202px;
    font-size: 27px;
    line-height: 1.8;
    text-align: center;
    top: 14px;
    margin-right: 10px;
  }
}