.popup__button-exit{
  position: absolute;
  top: -50px;
  right: -50px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all ease .2s;
}

.popup__button-exit:hover{
  opacity: .6;
}

.popup__button-exit:active{
  transform: scale(.96);
}