.profile__add-button {
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  outline: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: all ease .2s;
}

.profile__add-button:hover{
  opacity: .6;
}

.profile__add-button:active{
  transform: scale(.96);
}

@media screen and (max-width: 919px){
  .profile__add-button{
    width: 484px;
  }
}

@media screen and (max-width: 619px){
  .profile__add-button{
    width: 282px
  }
}