.popup-input{
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  padding-bottom: 7px;
  margin-bottom: 30px;
  overflow: visible;
}

.popup-input:last-of-type{
  margin-bottom: 48px;
}

@media screen and (max-width: 400px){
  .popup-input{
    margin-bottom: 21px;
    font-size: 12px;
    line-height: 1.25;
  }
  .popup-input:last-of-type{
    margin-bottom: 35px;
  }
}