.popup-form{
  padding: 0;
  max-width: 358px;
  box-sizing: border-box;
  max-height: 264px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 520px){
  .popup-form{
    padding: 0 20px;
  }
}

@media screen and (max-width: 400px){
  .popup-form{
    max-height: 224px;
  }
}