@import url(./_selected/gallery__like-button_selected.css);

.gallery__like-button{
  border: none;
  background: transparent url(../../../images/gallery__heart.svg) no-repeat center;
  outline: none;
  padding: 0;
  height: 19px;
  width: 21px;
  transition: all ease .2s;
  cursor: pointer;
  position: relative;
  top: -4px;
}

.gallery__like-button:hover{
  opacity: .6;
}

.gallery__like-button:active{
  transform: scale(.96);
}