@import url(./__container/popup-full-image__container.css);
@import url(./__image/popup-full-image__image.css);
@import url(./__title/popup-full-image__title.css);
@import url(./__close/popup-full-image__close.css);

.popup-full-image{
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  background-color: rgba(0, 0, 0, .9);
  color: #fff;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: visibility .6s, opacity .3s linear;
} 