@import url(./__container/full__container.css);
@import url(./__image/full__image.css);
@import url(./__title/full__title.css);
@import url(./__close/full__close.css);

.full{
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  background-color: rgba(0, 0, 0, .9);
  color: #fff;
  display: none;
} 